body
{
margin:0;padding:0;font-family:sans-serif;
background-color:#000;
}
.loginbox
{
width:320px;
height:420px;
background-color:#fff;
/*background-color: rgba(255,255,255, .1);*/
color:black;
top:50%;
left:50%;
position:absolute;
transform:translate(-50%, -50%);
box-sizing:border-box;
padding:70px 30px;
border-color:navy;
}

h1
{
margin:0;
padding:0 0 20px;
text-align:center;
font-size:25px;
color:#8B008B;

}
label
{
margin:0;
padding:0;
font-weight:bold;
color:#FF7F24;
}
input
{
width:100%;
margin-bottom:20px;
}

.input-box
{
border:none;
color:blue;
outline:none;
border-bottom:1px solid #eee;
height:40px;
font-size:15px;
background:transparent;
}

.submit
{
outline:none;
border:none;
height:40px;
color:#7FFF00;
background-color:#8B008B;
text-align:center;
/* background:#fb2525;*/
border-radius:25px;
font-size:18px;
margin-top:20px;
}
.submit:hover
{
background:#ffc107;
color:#000;
cursor:pointer;
}
a
{
text-decoration:none;
color:darkgreen;
font-size:15px;
line-height:20px;
}
a:hover
{
color:#ffc107;
}